/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yamlgitQ
npm-debug.log
yarn-error.log
/.idea
/.vscode

/caddy
frankenphp
frankenphp-worker.php
